body {
  padding: 10%;
  background-color: rgb(36, 35, 35);
  margin: 10px;
  color: white;
}
/* debut de l'entête*/
.parent-1 {
  text-align: center;
  color: aliceblue;
  margin-bottom: 60px;
}
.enf-web {
  font-size: 40px;
}
.enf-crea {
  font-size: 20px;
}
.enf-base {
  font-size: 20px;
}
.enf-email {
  font-size: 20px;
}
/* fin de l'entête*/
.parent-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-bottom: 60px;
}

img {
  width: 100%;
}

#text {
  color: white;
  font-size: 15px;
  font-style: normal;
  background-color: rgb(63, 56, 48);
  padding: 5px;
  bottom: 5px;
}
/* fin du corp de la page */

/* debut du pied de page */
.parent3 {
  color: white;
  text-align: center;
}
.icon {
  margin-bottom: 10px;
}

/* fin du pied de page */

/* debute du code du responsive de ma page*/
@media (max-width: 1000px) {
  .parent-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-bottom: 60px;
  }
}

@media (max-width: 800px) {
  .parent-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-bottom: 60px;
  }
  .enf-web {
    font-size: 25px;
  }
  .enf-crea {
    font-size: 15px;
  }
  .enf-base {
    font-size: 15px;
  }
  .enf-email {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .parent-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin-bottom: 60px;
  }
  .enf-web {
    font-size: 20px;
  }
  .enf-crea {
    font-size: 10px;
  }
  .enf-base {
    font-size: 10px;
  }
  .enf-email {
    font-size: 10px;
  }
}
/*ici je vais faire un commentaire pour expliquer comment et pourquoi
pourquoi trois de mes images est aligné .
j'ai fair un erreur sur la disposition de mes objets 
ent html ce qui a provorquer cette partie*/
